body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}
